/* Estilos generales */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  color: #333;
  margin: 0;
}


/* Encabezado */

header {
  background-color: #2563eb;
  color: white;
  text-align: center;
  padding: 40px;
}

header h1 {
  font-size: 40px;
}

header p {
  font-size: 18px;
}


/* Navegación */



/* Contenido */

main {
  width: 80%;
  margin: 30px auto;
}

section {
  background-color: white;
  padding: 30px;
  margin-bottom: 25px;
  border-radius: 10px;
}


/* Títulos */

h2 {
  color: #2563eb;
  font-size: 28px;
}

h3 {
  color: #444;
}


/* Enlaces y botones */

section a {
  display: inline-block;
  background-color: #2563eb;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}


/* Listas */

li {
  margin-bottom: 8px;
}


/* Footer */

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
}